[project]
	description = mini python project for RPI 3
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vasu (vazudew)
	read = group vRebootAdmin
	abandon = group vRebootAdmin
	push = group vRebootAdmin
	label-Code-Review = -2..+2 group vRebootAdmin
	rebase = group vRebootAdmin
	submit = group vRebootAdmin
[access "refs/heads/*"]
	read = group user/Vasu (vazudew)
	create = group user/Vasu (vazudew)
	push = +force group user/Vasu (vazudew)
	pushMerge = group user/Vasu (vazudew)
[access "refs/tags/*"]
	push = group user/Vasu (vazudew)
	push = +force group user/Vasu (vazudew)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = rebase if necessary
	mergeContent = false
[access "refs/kk/*"]
	owner = group user/Vasu (vazudew)
[access "refs/pp/refs/*"]
	read = group user/Vasu (vazudew)
	push = group user/Vasu (vazudew)
	label-Code-Review = -2..+2 group user/Vasu (vazudew)
	rebase = group user/Vasu (vazudew)
	removeReviewer = group user/Vasu (vazudew)
	submit = group user/Vasu (vazudew)
